@using Microsoft.AspNet.Facebook
@{
    ViewBag.Title = "Home Page";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnGotoMyApp").click(function () {
            var redirect_url = "https://localhost:44306/Home/MyFBApp";
            var appID = @GlobalFacebookConfiguration.Configuration.AppId;
            var scope = "public_profile%2Cuser_friends%2Cpublish_actions%2Cemail%2Cuser_education_history%2Cuser_location%2Cuser_hometown%2Cuser_work_history%2Cuser_about_me%2Cuser_actions.books%2Cuser_photos%2Cuser_birthday";
            window.location = "https://www.facebook.com/v2.5/dialog/oauth?client_id=" +appID +"&redirect_uri=" + redirect_url + "&scope="+scope;
        });
    });
</script>

<div class="container ">
    <div class="page-header">
        @*<h3 style="text-align:center!important;">Navratri! E Halo halo! Dandia ramva!...</h3>*@
        <h3 style="text-align:center!important;">ન​વરાત્રી! એ હાલો હાલો! ગરબે રમવા</h3>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 " style="padding-bottom:25px;">
            <img src="~/Images/background.png" class="img-thumbnail img-responsive center-block" />
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 ">
            <div class="text-center">
                <a id="btnGotoMyApp" href="javascript:" class="btn  btn-social1 btn-facebook1">
                    <span class="glyphicon glyphicon-thumbs-up  "></span> Check Your Result
                </a>
            </div>
        </div>
    </div>


</div>