@using Microsoft.AspNet.Facebook
@{
    ViewBag.Title = "Home Page";
}


<script type="text/javascript">
    $(document).ready(function () {
        $("#btnGotoMyApp").click(function () {
            window.location = "https://www.facebook.com/v2.5/dialog/oauth?client_id=" +@GlobalFacebookConfiguration.Configuration.AppId +"&response_type=code&&redirect_uri=https://localhost:44306/Home/Index&scope=public_profile%2Cuser_friends%2Cpublish_actions%2Cemail%2Cuser_education_history%2Cuser_location%2Cuser_hometown%2Cuser_work_history%2Cuser_about_me%2Cuser_actions.books%2Cuser_photos%2Cuser_birthday";
        });
    });
</script>

<div class="container ">
    <div class="page-header">
        <h3>Index</h3>
    </div>
    
    <button id="btnGotoMyApp">Check Your FB Information</button>
</div>