
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container ">
    
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 product-box" >
        <div class="panel panel-default animated fadeIn slower go">
            <div class="panel-heading">Your result</div>
            <div class="panel-body">
                <img src="@ViewBag.resulturl" class="img-responsive" style="width:100%" alt="Image">
            </div>
            <div style="width:100%;text-align:center;margin-bottom:10px;">
                <a class="btn btn-success btn-sm view " href="#">
                    Share Your Result
                </a>
            </div>
        </div>
    </div>
</div>
