

<header id="header" class="header " style="">
    <div class="container">
        <h1 class="logo pull-left">
            <a href="@Url.Action("Index")">
                <span class="logo-title"><img src="~/Images/atozviral.png" class="img-thumbnail" style="width:84px!important;height:84px!important;" /></span>
                @*<img src="~/Images/atozviral.png" class="img-responsive" style="width:84px!important;height:84px!important;" />*@
            </a>
        </h1>
        <nav id="main-nav" class="main-nav navbar-right" role="navigation">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#cssmenu" aria-expanded="true">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="cssmenu" aria-expanded="true">
                @*<ul class="nav navbar-nav">
                    <li id="lihome" class="nav-item">@Html.ActionLink("HOME", "Index", "Home")</li>
                    <li id="lihome" class="nav-item">@Html.ActionLink("Contact", "Index", "Home")</li>
                </ul>*@
            </div>
        </nav>
    </div>
</header>
<style>
    #cssmenu li.active {
        background: #47c9af;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

        #cssmenu li.active a {
            color: #fff !important;
        }

    #cssmenu .nav-item {
        min-width: 100px !important;
        text-align: center !important;
    }
</style>