<div class="row dvlatestapp">
    <div class="latestapps_header">
        <span>LATEST APPS</span>
    </div>
    <div class="blog_data">
        <div class="img_data">
            <img src="~/Images/AppImages/WishNavratri.gif" style="height:90px;" class="img-responsive" />
            <div class="hover_data">
                <span>
                    <a href="@Url.Action("NavratriSpecial", "Home")">Play</a>
                </span>
            </div>
        </div>
        <div class="blog_contant text-center">
            <a href="@Url.Action("NavratriSpecial", "Home")"><h5>ન​વરાત્રી! એ હાલો હાલો! ગરબે રમવા</h5></a>
        </div>
    </div>
</div>
