@using Microsoft.AspNet.Facebook
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <link href="~/Content/bootstrap.css?ver=1" rel="stylesheet" />
    <link href="~/Content/stylesheet.css?ver=1" rel="stylesheet" />
    <meta property="fb:app_id" content="@GlobalFacebookConfiguration.Configuration.AppId" />
</head>
<body id="top">

    @Html.Partial("_HeaderPortion")
    <div class="container">
        <div class="row" style="margin-top:80px;"></div>
        @RenderBody()
    </div>
    @*@Html.Partial("_FooterPortion")*@

</body>
</html>