@using Microsoft.AspNet.Facebook
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - A to Z Viral App</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <link href="~/Content/bootstrap.css?ver=1" rel="stylesheet" />
    <link href="~/Content/stylesheet.css?ver=1" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css?ver=1" rel="stylesheet" />
    <meta property="fb:app_id" content="@GlobalFacebookConfiguration.Configuration.AppId" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/favicon.ico" />

</head>
<body id="top">

    @Html.Partial("_HeaderPortion")
    <div class="container">

        @RenderBody()
    </div>
    @*@Html.Partial("_FooterPortion")*@

</body>
</html>