<ul class="social-network social-circle text-center">
    <li><a href="https://www.facebook.com/sharer/sharer.php?u=@Request.Url" target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
    <li><a href="https://twitter.com/home?status=@Request.Url" target="_blank" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
    <li><a href="https://plus.google.com/share?url=@Request.Url" target="_blank" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
    <li><a href="https://www.linkedin.com/shareArticle?mini=true&url=@Request.Url&title=@ViewBag.AppTitle&summary=&source=" target="_blank" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
    <li><a href="https://pinterest.com/pin/create/button/?url=@Request.Url&media=@ViewBag.AppTitle&description=@ViewBag.AppTitle" target="_blank" class="icoPinterest" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
    <li><a href="whatsapp://send?text=@Request.Url" target="_blank" class="icowhatsapp" title="Whatts App"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
</ul>
