@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic");
@charset "UTF-8";


body > .container {
    padding: 38px 15px 0;
}


/*=========================
    Header
 ========================== */
.page-header {
    padding-top: 10px !important;
    padding-bottom: 0px !important;
}

.header {
    position: fixed;
    width: 100%;
    padding: 10px 0px 0px 0px;
    background: #b2c834;
    border-bottom: 1px solid #b2c834;
    z-index: 888;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    min-height: 50px;
}

    .header h1.logo {
        margin-top: 0;
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 28px;
        max-height: 50px;
    }

a:hover {
    text-decoration: none;
    color: #48953f;
}

.header h1.logo a:hover {
    color: #6dbd63;
}

.header h1.logo a {
    color: #6dbd63;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
}

.header h1.logo .logo-title {
    vertical-align: middle;
    line-height: 1.6;
}

.header .main-nav .nav .nav-item a {
    color: #666;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    font-weight: 600;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.header .main-nav .nav .nav-item a:active {
    outline: none;
    background: none;
}

.header .main-nav .nav .nav-item a:hover {
    background: none;
}

.header .main-nav .navbar-toggle .icon-bar {
    background-color: #fff;
}

.header .main-nav .navbar-toggle {
    margin-right: 0;
    background: #51a746;
    color: #fff !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.navbar-collapse.in {
    overflow-y: auto;
}

.collapse.in {
    display: block;
}

.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}
/*=========================
    Body
 ========================== */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F2F5F8;
}

p {
    color: #666;
    line-height: 22px;
}

.btn-primary, .btn-success {
    background-color: #47c9af !important;
    border: 1px solid #47c9af !important;
}

    .btn-primary a {
        color: #fff;
        text-decoration: none;
        padding: 6px 12px;
    }






/*=========================
    Footer
 ========================== */


.footer {
    position: fixed;
    background-color: whitesmoke;
    border-top: solid 1px #ddd;
    bottom: 0px;
    display: block;
    width: 100%;
    padding: 1%;
    left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    z-index: 1000;
}


/*=========================
    Social Sharing Icons    
 ========================== */


/* footer social icons */

.social-network {
    float: right;
}

ul.social-network {
    width: 100%;
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

    ul.social-network li {
        display: inline;
        margin: 0 1%;
    }

/* footer social icons */
.social-network a.icoRss:hover {
    background-color: #F56505;
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff;
}

.social-network a.icoGoogle:hover {
    background-color: #BD3518;
}

.social-network a.icoVimeo:hover {
    background-color: #0590B8;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

.social-network a.icoYoutube:hover {
    background-color: #fe3d2e;
}

.social-network a.icoPinterest:hover {
    background-color: #ea1514;
}

.social-network a.icowhatsapp:hover {
    background-color: #29a628;
}

.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i, .social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
    color: #fff;
}

a.socialIcon:hover, .socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 5px auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 30%;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
}

.social-circle li i {
    margin: 0;
    line-height: 45px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-network a {
    background-color: #D3D3D3;
}



.btn-facebook1 {
    margin-bottom: 16px;
}

.btn-facebook1 {
    color: #fff;
    background-color: #304d8a;
    border-color: rgba(0,0,0,0.2);
}

.btn-social1 {
    position: relative;
    padding: 11px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
    text-align: center;
}

.btn-facebook1:hover {
    color: #fff;
    background-color: #2d4373;
    border-color: rgba(0,0,0,0.2);
}


.blog_data {
    background: #ffffff none repeat scroll 0 0;
    border: medium none;
    border-radius: 0.285714rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-height: 0;
    padding: 0;
    position: relative;
    transition: box-shadow 0.1s ease 0s, transform 0.1s ease 0s;
    width: 100%;
    margin-bottom: 13px;
    border-radius:5px;
}

.img_data {
    display: inline-block;
    position: relative;
    width: 100%;
}

    .img_data img {
        width: 100%;
    }

    .img_data:hover .hover_data {
        display: block;
    }

.hover_data {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    display: none;
    border-radius:5px;
}

    .hover_data span a {
        border: 1px solid #f2711c;
        color: #f2711c;
        display: inline-block;
        font-size: 16px;
        margin-top: 10%;
        margin-left: 40%;
        padding: 5px 20px;
        text-decoration: none;
    }

.blog_contant {
    display: inline-block;
    padding: 6px 2px;
    width: 100%;
    margin-left: 5px;
    max-height: 77px;
}



.dvlatestapp {

    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: white !important;
}

.latestapps_header {
    
    
    background-color: #b2c834;
    padding: 10px 0px 10px 0px;
    margin-bottom: 10px;
    color: #666 !important;
    font-size: 18px;
    font-weight: 600;
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-align: center;
}


